<ul class="nav fixed-bottom justify-content-center bg-light border-top">
    <li class="nav-item mx-1">
        <a routerLink="/search" class="nav-link text-center text-secondary" routerLinkActive="active">
            <i class=" fas fa-robot fa-lg"></i><br>
            Search
        </a>
    </li>
    <li class="nav-item mx-1">
        <a routerLink="/filters" class="nav-link text-center text-primary text-secondary" routerLinkActive="active">
            <i class="fas fa-list fa-lg"></i><br>
            Filters
        </a>
    </li>
    <li class="nav-item mx-1">
        <a routerLink="/myteam" class="nav-link text-center text-secondary" routerLinkActive="active">
            <i class="fas fa-users fa-lg"></i><br>
            My Team
        </a>
    </li>
    <li class="nav-item mx-1">
        <a routerLink="/about" class="nav-link text-center text-secondary" routerLinkActive="active">
            <i class="fas fa-info-circle fa-lg"></i><br>
            About
        </a>
    </li>
</ul>