.handle {
    cursor: grab;
}

.handle:active {
    cursor: grabbing;
}

/* Remove arrows on numeric input elements */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}