<div class="container p-0">
    <nav class="navbar sticky-top navbar-light bg-light border-bottom">
        <a class="navbar-brand display-1">
            <img src="assets/logo.png" width="90" alt="">
            Scouting App
        </a>
    </nav>

    <div class="jumbotron">
        <div class="row mb-3">
            <div class="col col-12 col-md-4 offset-md-4">
                <img src="assets/logo.png" width="100%" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col col-12 col-md-6">
                <h4 class="font-weight-light text-center">
                    Visit our socials:
                    <a class="mx-1 text-secondary" href="https://robotics.nicholsschool.org" target="_blank">
                        <i class="fas fa-globe-americas"></i>
                    </a>
                    <a class="mx-1 text-secondary" href="https://www.facebook.com/nicholsrobotics" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="mx-1 text-secondary" href="https://twitter.com/frc4930" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="mx-1 text-secondary" href="https://www.instagram.com/electric.mayhem.4930" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="mx-1 text-secondary" href="https://github.com/NicholsSchool" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </h4>
            </div>
            <div class="col col-12 col-md-6">
                <h4 class="font-weight-light text-center">
                    Visit this website's source code:
                    <a class="mx-1 text-secondary" href="https://github.com/junqiwu02/ScoutingApp" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </h4>
            </div>
        </div>
    </div>

    <h6 class="my-5 pb-5 text-center text-secondary">© Nichols Electric Mayhem - All Rights Reserved</h6>

</div>