<div class="container p-0">
    <nav class="navbar sticky-top navbar-light bg-light border-bottom">
        <a class="navbar-brand display-1">
            <img src="assets/logo.png" width="90" alt="">
            Scouting App
        </a>
    </nav>

    <div class="jumbotron text-center bg-transparent">
        <h6 class="text-secondary">© Nichols Electric Mayhem - All Rights Reserved</h6>
    </div>

</div>

<ul class="nav fixed-bottom justify-content-center bg-light border-top">
    <li class="nav-item mx-1">
        <a routerLink="/search" class="nav-link text-center text-secondary">
            <i class="fas fa-robot fa-lg"></i><br>
            Search
        </a>
    </li>
    <li class="nav-item mx-1">
        <a routerLink="/filters" class="nav-link text-center text-secondary">
            <i class="fas fa-list fa-lg"></i><br>
            Filters
        </a>
    </li>
    <li class="nav-item mx-1">
        <a routerLink="/myteam" class="nav-link text-center text-secondary">
            <i class="fas fa-users fa-lg"></i><br>
            My Team
        </a>
    </li>
    <li class="nav-item mx-1">
        <a routerLink="/about" class="nav-link text-center">
            <i class="fas fa-info-circle fa-lg"></i><br>
            About
        </a>
    </li>
</ul>