<div class="container p-0">
    <div *ngIf="auth.user != null; then authenticated; else signin"></div>
</div>

<ng-template #signin>
    <nav class="navbar sticky-top navbar-light bg-light border-bottom">
        <a class="navbar-brand display-1">
            <img src="assets/logo.png" width="90" alt="">
            Scouting App
        </a>
    </nav>

    <div class="jumbotron">
        <h1 class="display-4 text-center">
            Sign In<br>
            <button class="btn btn-light bg-white text-secondary" (click)="auth.googleSignin()">
                <p class="mx-4 my-2">
                    <img class="mr-2" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="">
                    Sign in with Google
                </p>
            </button>
        </h1>
    </div>
</ng-template>

<ng-template #authenticated>
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light border-bottom">
        <a class="navbar-brand display-1">
            <img src="assets/logo.png" width="90" alt="">
            Scouting App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <div class="float-right ml-auto mr-0">
                <label for="#signoutBtn" class="text-secondary mr-2">
                    Logged in as: <i id="username">{{auth.user.displayName }}</i>
                </label>
                <button id="signoutBtn" class="btn btn-primary" (click)="auth.signOut()">
                    <i class="fas fa-sign-out-alt"></i>
                    Sign Out
                </button>
            </div>
        </div>
    </nav>

    <div *ngIf="auth.user.teamKey == null; then firsttime; else returninguser"></div>
</ng-template>

<ng-template #returninguser>
    <div class="jumbotron mb-2">
        <button type="button" class="btn btn-danger mb-2" data-toggle="modal" data-target="#leaveTeamModal">
            <i class="fas fa-door-open"></i>
            Leave Team
        </button>
        <h1>{{ userTeam.team_number }} - {{ userTeam.nickname }}</h1>
        <p>
            <i class="fas fa-lightbulb"></i>&nbsp;
            <a href="https://www.thebluealliance.com/team/{{ userTeam.team_number }}" target="_blank">
                https://www.thebluealliance.com/team/{{ userTeam.team_number }}
            </a>
        </p>
    </div>

    <div class="card my-3">
        <h4 class="card-header">
            Pit Scouting
            <button class="btn btn-primary float-right">
                <i class="fas fa-pencil-ruler"></i>
                Edit
            </button>
        </h4>
        <ul class="list-group-flush p-0">
            <li class="list-group-item">
                <b>Auton</b><br>
                <i id="autonScoreOnSwitch" class="fas fa-check-circle text-success"></i> Score on
                switch
                <br><i class="fas fa-check-circle text-success"></i> Score on scale
                <br><i class="fas fa-times-circle text-danger"></i> Score multiple power cubes
                <br><i class="fas fa-check-circle text-success"></i> Start from any field position
            </li>
            <li class="list-group-item">
                <b>Tele-Op</b><br>
                <i class="fas fa-check-circle text-success"></i> Score on switch
                <br><i class="fas fa-check-circle text-success"></i> Score on scale
                <br><i class="fas fa-check-circle text-success"></i> Score on vault
                <br><i class="fas fa-check-circle text-success"></i> Climb solo
                <br><i class="fas fa-minus-circle text-warning"></i> Climb with another robot
            </li>
        </ul>
    </div>

    <div class="card">
        <h4 class="card-header">
            Team Bio
            <button class="btn btn-primary float-right">
                <i class="fas fa-pencil-ruler"></i>
                Edit
            </button>
        </h4>
        <div class="card-body">
            <h4 class="text-center text-secondary"><i>Write something about your team!</i></h4>
        </div>
    </div>

    <div class="jumbotron invisible"></div>

    <div class="modal fade" id="leaveTeamModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to leave {{ userTeam.team_number }} - {{ userTeam.nickname }}?
                    <br>You'll need your team key in order to rejoin.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger mb-2 mr-2" (click)="leaveTeam()">
                        <i class="fas fa-door-open"></i>
                        Leave Team
                    </button>
                    <button type="button" class="close" data-dismiss="modal">
                        <h6 class="font-weight-bold">Cancel</h6>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #firsttime>
    <div class="jumbotron mb-5 pb-5">
        <h1 class="display-4 mb-5 text-center">Are you a...</h1>
        <div class="row">
            <div class="col col-12 col-md-6 mb-5 pb-5 border-right border-bottom">
                <h1 class="font-weight-light mb-3">Student?</h1>
                <h4 class="font-weight-light">Ask a mentor for your 8 digit team key and enter it here:</h4>
                <div class="input-group">
                    <input #keyInput class="form-control text-center" [ngClass]="{'is-invalid': !teamKeyIsValid }" type="text"
                        placeholder="xxxx-xxxx" (keydown)="updateKeyInput($event)" (keyup.enter)="joinTeam(keyInput.value)"
                        maxlength="9">
                    <div class="input-group-append">
                        <button class="btn btn-success rounded-right" (click)="joinTeam(keyInput.value)">
                            <i class="fas fa-paper-plane"></i>
                            Join
                        </button>
                    </div>
                    <div class="invalid-feedback">Not a valid team key!</div>
                </div>
            </div>
            <div class="col col-12 col-md-6 mb-5 pb-5">
                <h1 class="font-weight-light mb-3">Mentor?</h1>
                <h4 class="font-weight-light">Send us an email to get your team key:</h4>
                <a href="mailto:johndoe@example.com" target="_blank" class="btn btn-danger">
                    <i class="fas fa-envelope"></i>
                    Email Us
                </a>
            </div>
        </div>
    </div>
</ng-template>