<div *ngIf="auth.user != null; then authenticated; else signin"></div>

<ng-template #signin>
    <div class="container p-0">
        <nav class="navbar sticky-top navbar-light bg-light border-bottom">
            <a class="navbar-brand display-1">
                <img src="/assets/logo.png" width="90" alt="">
                Scouting App
            </a>
        </nav>
    
        <div class="jumbotron">
            <h1 class="display-4 text-center">
                Sign In<br>
                <button class="btn btn-light bg-white text-secondary" (click)="auth.googleSignin()">
                    <p class="mx-4 my-2">
                        <img class="mr-2" src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg" alt="">
                        Sign in with Google
                    </p>
                </button>
            </h1>
        </div>
    </div>
    
    <ul class="nav fixed-bottom justify-content-center bg-light border-top">
        <li class="nav-item mx-1">
            <a routerLink="/search" class="nav-link text-center text-secondary">
                <i class="fas fa-robot fa-lg"></i><br>
                Search
            </a>
        </li>
        <li class="nav-item mx-1">
            <a routerLink="/filters" class="nav-link text-center text-secondary">
                <i class="fas fa-list fa-lg"></i><br>
                Filters
            </a>
        </li>
        <li class="nav-item mx-1">
            <a routerLink="/myteam" class="nav-link text-center">
                <i class="fas fa-users fa-lg"></i><br>
                My Team
            </a>
        </li>
        <li class="nav-item mx-1">
            <a routerLink="/about" class="nav-link text-center text-secondary">
                <i class="fas fa-info-circle fa-lg"></i><br>
                About
            </a>
        </li>
    </ul>
</ng-template>

<ng-template #authenticated>
    <div class="container p-0">
        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light border-bottom">
            <a class="navbar-brand display-1">
                <img src="/assets/logo.png" width="90" alt="">
                Scouting App
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <div class="float-right ml-auto mr-0">
                    <label for="#signoutBtn" class="text-secondary mr-2">Logged in as: <i id="username">{{ auth.user.displayName }}</i></label>
                    <button id="signoutBtn" class="btn btn-primary" (click)="auth.signOut()">
                        <i class="fas fa-sign-out-alt"></i>
                        Sign Out
                    </button>
                </div>
            </div>
        </nav>
    
        <div class="jumbotron mb-2">
            <h1>4930 - Electric Mayhem</h1>
            <p>
                <i class="fas fa-lightbulb"></i> <a href="https://www.thebluealliance.com/team/4930" target="_blank">https://www.thebluealliance.com/team/4930</a>
            </p>
        </div>
    
    
        <div class="row mx-0 mb-5 pb-5">
            <div class="col col-12 my-2 px-0">
                <div class="card">
                    <h4 class="card-header">
                        Bio
                        <button class="btn btn-primary float-right">
                            <i class="fas fa-pencil-ruler"></i>
                            Edit
                        </button>
                    </h4>
                    <ul class="list-group-flush p-0">
                        <li class="list-group-item">
                            <b>Auton</b><br>
                            <i id="autonScoreOnSwitch" class="fas fa-check-circle text-success"></i> Score on switch
                            <br><i class="fas fa-check-circle text-success"></i> Score on scale
                            <br><i class="fas fa-times-circle text-danger"></i> Score multiple power cubes
                            <br><i class="fas fa-check-circle text-success"></i> Start from any field position
                        </li>
                        <li class="list-group-item">
                            <b>Tele-Op</b><br>
                            <i class="fas fa-check-circle text-success"></i> Score on switch
                            <br><i class="fas fa-check-circle text-success"></i> Score on scale
                            <br><i class="fas fa-check-circle text-success"></i> Score on vault
                            <br><i class="fas fa-check-circle text-success"></i> Climb solo
                            <br><i class="fas fa-minus-circle text-warning"></i> Climb with another robot
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <ul class="nav fixed-bottom justify-content-center bg-light border-top">
        <li class="nav-item mx-1">
            <a routerLink="/search" class="nav-link text-center text-secondary">
                <i class="fas fa-robot fa-lg"></i><br>
                Search
            </a>
        </li>
        <li class="nav-item mx-1">
            <a routerLink="/filters" class="nav-link text-center text-secondary">
                <i class="fas fa-list fa-lg"></i><br>
                Filters
            </a>
        </li>
        <li class="nav-item mx-1">
            <a routerLink="/myteam" class="nav-link text-center">
                <i class="fas fa-users fa-lg"></i><br>
                My Team
            </a>
        </li>
        <li class="nav-item mx-1">
            <a routerLink="/about" class="nav-link text-center text-secondary">
                <i class="fas fa-info-circle fa-lg"></i><br>
                About
            </a>
        </li>
    </ul>
</ng-template>