<div class="container p-0">
    <nav class="navbar sticky-top navbar-expand-md navbar-light bg-light border-bottom">
        <a class="navbar-brand display-1">
            <img src="assets/logo.png" width="90" alt="">
            Scouting App
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <div class="input-group">
                <input #teamSearchInput class="form-control" [ngClass]="{'is-invalid': !teamExists}" type="number"
                    placeholder="Search team #" (keydown)="teamExists = true;">
                <div class="input-group-append">
                    <button (click)="searchTeam(teamSearchInput.value)" class="btn btn-primary rounded-right">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="invalid-feedback">Team does not exist!</div>
            </div>
        </div>
    </nav>
    <div *ngIf="searchedTeam == null; then search; else teaminfo"></div>
</div>

<ng-template #search>
    <div class="container p-0">

        <div class="list-group-flush">
            <a *ngFor="let t of teams;" (click)="showTeam(t)" class="list-group-item list-group-item-action">
                {{ t.team_number }} - {{ t.nickname }}
            </a>
        </div>

        <h5 class="text-center text-secondary mb-5 py-5">
            <em>Load More</em><br>
            <i class="fas fa-angle-double-down"></i>
        </h5>

        <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>
    </div>
</ng-template>

<ng-template #teaminfo>
    <div class="container p-0">

        <div class="jumbotron mb-2">
            <button (click)="showTeam(null)" class="btn btn-primary mb-2">
                <i class="fas fa-arrow-left"></i>
                Back
            </button>
            <button class="btn btn-danger ml-2 mb-2">
                <i class="fas fa-exclamation-circle"></i>
                Report Abuse
            </button>
            <h1>{{ searchedTeam.team_number }} - {{ searchedTeam.nickname }}</h1>
            <p>
                <i class="fas fa-map-marker-alt"></i>&nbsp;
                From {{ searchedTeam.city }}, {{ searchedTeam.state_prov }}, {{ searchedTeam.country }}
                <br><i class="fas fa-lightbulb"></i>&nbsp;
                <a href="https://www.thebluealliance.com/team/{{ searchedTeam.team_number }}" target="_blank">
                    https://www.thebluealliance.com/team/{{ searchedTeam.team_number }}
                </a>
            </p>
        </div>

        <div class="row mx-0">
            <div class="col col-12 col-md-6 my-2 px-0 pr-md-2">
                <div class="card">
                    <h4 class="card-header">Bio</h4>
                    <ul class="list-group-flush p-0">
                        <li class="list-group-item">
                            <b>Auton</b><br>
                            <i class="fas fa-check-circle text-success"></i> Score on switch
                            <br><i class="fas fa-check-circle text-success"></i> Score on scale
                            <br><i class="fas fa-times-circle text-danger"></i> Score multiple power cubes
                            <br><i class="fas fa-check-circle text-success"></i> Start from any field position
                        </li>
                        <li class="list-group-item">
                            <b>Tele-Op</b><br>
                            <i class="fas fa-check-circle text-success"></i> Score on switch
                            <br><i class="fas fa-check-circle text-success"></i> Score on scale
                            <br><i class="fas fa-check-circle text-success"></i> Score on vault
                            <br><i class="fas fa-check-circle text-success"></i> Climb solo
                            <br><i class="fas fa-minus-circle text-warning"></i> Climb with another robot
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-12 col-md-6 my-2 px-0 pl-md-2">
                <div class="card">
                    <h4 class="card-header">Events</h4>
                    <ul class="list-group-flush p-0">
                        <li class="list-group-item">
                            <b>Finger Lakes Regional</b><br>
                            <i class="fas fa-map-marker-alt"></i> Rochester, NY 14623, USA
                            <br><i class="far fa-calendar-alt"></i> March 14 - March 17, 2018
                            <br><i class="fas fa-trophy"></i> Rank <b>8</b> with a record of <b>8-4-0</b>
                            <br><i class="fas fa-medal"></i> Average match score of <b>389</b>
                        </li>
                        <li class="list-group-item">
                            <b>Greater Pittsburg Regional</b><br>
                            <i class="fas fa-map-marker-alt"></i> California, PA 15419, USA
                            <br><i class="far fa-calendar-alt"></i> March 21 - March 24, 2018
                            <br><i class="fas fa-trophy"></i> Rank <b>30</b> with a record of <b>4-5-0</b>
                            <br><i class="fas fa-medal"></i> Average match score of <b>389</b>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mx-0">
            <div class="col col-12 my-2 px-0">
                <div class="card">
                    <h4 class="card-header">
                        Match Analytics
                    </h4>
                    <div class="card-body">
                        <!--canvas id="matchChart"></canvas-->
                        <h4 class="text-center text-secondary"><i>Coming Soon</i></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mx-0 mb-5 pb-5">
            <div class="col col-12 col-md-6 my-2 px-0 pr-md-2">
                <div class="card">
                    <img src="https://i.imgur.com/9dQPEMXh.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Pictures</h4>
                    </div>
                </div>
            </div>
            <div class="col col-12 col-md-6 my-2 px-0 pl-md-2">
                <div class="card">
                    <h4 class="card-header">Social</h4>
                    <div class="card-body">
                        <p class="card-text">
                            <i class="fas fa-globe-americas"></i>&nbsp;<a href="https://robotics.nicholsschool.org/"
                                target="_blank">https://robotics.nicholsschool.org/</a>
                            <br><i class="fab fa-twitter"></i>&nbsp;<a href="https://twitter.com/frc4930" target="_blank">frc4930</a>
                            <br><i class="fab fa-facebook"></i>&nbsp;<a href="https://www.facebook.com/nicholsrobotics"
                                target="_blank">nicholsrobotics</a>
                            <br><i class="fab fa-instagram"></i>&nbsp;<a href="https://www.instagram.com/electricmayhem4930/"
                                target="_blank">electricmayhem4930</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>